USE [master]
GO
/****** Object:  Database [Trabajo_Practico_Agencia_De_Viajes]    Script Date: 19/1/2026 11:56:26 ******/
CREATE DATABASE [Trabajo_Practico_Agencia_De_Viajes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Trabajo_Practico_Agencia_De_Viajes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Trabajo_Practico_Agencia_De_Viajes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Trabajo_Practico_Agencia_De_Viajes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Trabajo_Practico_Agencia_De_Viajes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Trabajo_Practico_Agencia_De_Viajes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Trabajo_Practico_Agencia_De_Viajes]
GO
/****** Object:  UserDefinedFunction [dbo].[F_CalcularDuracionViaje]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[F_CalcularDuracionViaje] (
    @FechaSalida DATE,
    @FechaRegreso DATE
)
RETURNS INT
AS
BEGIN
    RETURN DATEDIFF(DAY, @FechaSalida, @FechaRegreso);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[F_CalcularPrecioFinal]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Apartado de Funciones
CREATE   FUNCTION [dbo].[F_CalcularPrecioFinal] (
    @PrecioBase DECIMAL(10, 2),
    @PorcentajeDescuento DECIMAL(4, 2)
)
RETURNS DECIMAL(10, 2)
AS
BEGIN
    RETURN @PrecioBase * (1- (@PorcentajeDescuento / 100));
END;
GO
/****** Object:  UserDefinedFunction [dbo].[F_EsTemporadaAlta]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[F_EsTemporadaAlta] (@Fecha DATE)
RETURNS BIT
AS
BEGIN
    DECLARE @Mes INT = MONTH(@Fecha);
    DECLARE @Resultado BIT;

    IF @Mes IN (12, 1, 2)
        SET @Resultado = 1;
    ELSE
        SET @Resultado = 0;

    RETURN @Resultado;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcularPrecioFinal]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcularPrecioFinal] (
    @PrecioBase DECIMAL(10, 2),
    @PorcentajeDescuento DECIMAL(4, 2)
)
RETURNS DECIMAL(10, 2)
AS
BEGIN
    RETURN @PrecioBase * (1 - ISNULL(@PorcentajeDescuento, 0));
END;
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IDCliente] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [varchar](20) NOT NULL,
	[NombreCompleto] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Nacionalidad] [varchar](50) NULL,
	[FechaNacimiento] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paquete]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paquete](
	[PaqueteID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[NivelServicioID] [int] NOT NULL,
	[CupoMaximo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaqueteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[ReservaID] [int] IDENTITY(1,1) NOT NULL,
	[IDCliente] [int] NOT NULL,
	[FechaSalida] [date] NOT NULL,
	[FechaRegreso] [date] NOT NULL,
	[MetodoPagoID] [int] NOT NULL,
	[DescuentoID] [int] NULL,
	[PaqueteID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ReservasActivas]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[ReservasActivas] AS
SELECT R.ReservaID, C.NombreCompleto, P.Descripcion, R.FechaSalida, R.FechaRegreso
FROM Reserva R
JOIN Cliente C ON R.IDCliente = C.IDCliente
JOIN Paquete P ON R.PaqueteID = P.PaqueteID
WHERE R.FechaSalida > GETDATE();
GO
/****** Object:  View [dbo].[V_ReservasActivas]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[V_ReservasActivas] AS
SELECT R.ReservaID, C.NombreCompleto, P.Descripcion, R.FechaSalida, R.FechaRegreso
FROM Reserva R
JOIN Cliente C ON R.IDCliente = C.IDCliente
JOIN Paquete P ON R.PaqueteID = P.PaqueteID
WHERE R.FechaSalida > GETDATE();
GO
/****** Object:  Table [dbo].[NivelServicio]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NivelServicio](
	[NivelServicioID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NivelServicioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Descuento]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Descuento](
	[DescuentoID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[Porcentaje] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DescuentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_ReservasDetalladas]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[V_ReservasDetalladas] AS
SELECT 
    r.ReservaID,
    c.NombreCompleto AS Cliente,
    c.Nacionalidad,
    p.Descripcion AS Paquete,
    p.Precio AS PrecioBase,
    ns.Nombre AS NivelServicio,
    r.FechaSalida,
    r.FechaRegreso,
    d.Porcentaje AS DescuentoAplicado
FROM Reserva r
JOIN Cliente c ON r.IDCliente = c.IDCliente
JOIN Paquete p ON r.PaqueteID = p.PaqueteID
JOIN NivelServicio ns ON p.NivelServicioID = ns.NivelServicioID
LEFT JOIN Descuento d ON r.DescuentoID = d.DescuentoID;
GO
/****** Object:  Table [dbo].[TipoTransporte]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoTransporte](
	[TipoTransporteID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoTransporteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transporte]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transporte](
	[TransporteID] [int] IDENTITY(1,1) NOT NULL,
	[TipoTransporteID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Proveedor] [varchar](100) NOT NULL,
	[HoraSalida] [time](7) NOT NULL,
	[HoraLlegada] [time](7) NOT NULL,
	[Costo] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransporteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaqueteTransporte]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaqueteTransporte](
	[PaqueteTransporteID] [int] IDENTITY(1,1) NOT NULL,
	[PaqueteID] [int] NOT NULL,
	[TransporteID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaqueteTransporteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_TransportesPorPaquete]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[V_TransportesPorPaquete] AS
SELECT pt.PaqueteID,
	p.Descripcion AS PaqueteDescripcion,
	t.TransporteID,
	t.Nombre AS Transporte,
	tt.Nombre AS TipoTransporte,
	t.Proveedor,
	t.HoraSalida,
	t.HoraLlegada,
	t.Costo
FROM PaqueteTransporte pt
JOIN Paquete p ON pt.PaqueteID = p.PaqueteID
JOIN Transporte t ON pt.TransporteID = t.TransporteID
JOIN TipoTransporte tt ON t.TipoTransporteID = tt.TipoTransporteID;
GO
/****** Object:  Table [dbo].[Alojamiento]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alojamiento](
	[AlojamientoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Tipo] [varchar](50) NULL,
	[Direccion] [varchar](255) NULL,
	[Telefono] [varchar](20) NULL,
	[DestinoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AlojamientoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destino]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destino](
	[DestinoID] [int] IDENTITY(1,1) NOT NULL,
	[Ciudad] [varchar](100) NOT NULL,
	[Pais] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[Tipo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DestinoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[EmpresaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpresaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoPago]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoPago](
	[MetodoPagoID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MetodoPagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaqueteDestino]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaqueteDestino](
	[PaqueteDestinoID] [int] IDENTITY(1,1) NOT NULL,
	[PaqueteID] [int] NOT NULL,
	[DestinoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaqueteDestinoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaqueteSeguro]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaqueteSeguro](
	[PaqueteSeguroID] [int] IDENTITY(1,1) NOT NULL,
	[PaqueteID] [int] NOT NULL,
	[SeguroID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaqueteSeguroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seguro]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seguro](
	[SeguroID] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaID] [int] NOT NULL,
	[TipoSeguro] [varchar](50) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[Costo] [decimal](10, 2) NOT NULL,
	[VigenciaInicio] [date] NOT NULL,
	[VigenciaFin] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SeguroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alojamiento] ON 

INSERT [dbo].[Alojamiento] ([AlojamientoID], [Nombre], [Tipo], [Direccion], [Telefono], [DestinoID]) VALUES (1, N'Hotel Andes', N'Hotel', N'Calle Mitre 100, Bariloche', N'+54 294 4412345', 1)
INSERT [dbo].[Alojamiento] ([AlojamientoID], [Nombre], [Tipo], [Direccion], [Telefono], [DestinoID]) VALUES (2, N'Cabañas El Bosque', N'Cabaña', N'Ruta 40 km 10, Bariloche', N'+54 294 4498765', 1)
INSERT [dbo].[Alojamiento] ([AlojamientoID], [Nombre], [Tipo], [Direccion], [Telefono], [DestinoID]) VALUES (3, N'Hotel Malbec', N'Hotel', N'Av. San Martín 55, Mendoza', N'+54 261 4234567', 2)
SET IDENTITY_INSERT [dbo].[Alojamiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([IDCliente], [DNI], [NombreCompleto], [Email], [Telefono], [Nacionalidad], [FechaNacimiento]) VALUES (1, N'30123456', N'Lucía Martínez', N'lucia.martinez@gmail.com', N'+54 91112345678', N'Argentina', CAST(N'1990-03-15' AS Date))
INSERT [dbo].[Cliente] ([IDCliente], [DNI], [NombreCompleto], [Email], [Telefono], [Nacionalidad], [FechaNacimiento]) VALUES (2, N'30234567', N'Mateo González', N'mateo.gonzalez@gmail.com', N'+54 91123456789', N'Uruguay', CAST(N'1985-06-21' AS Date))
INSERT [dbo].[Cliente] ([IDCliente], [DNI], [NombreCompleto], [Email], [Telefono], [Nacionalidad], [FechaNacimiento]) VALUES (3, N'30345678', N'Valentina López', N'valentina.lopez@gmail.com', N'+54 91134567890', N'Chile', CAST(N'1993-10-05' AS Date))
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Descuento] ON 

INSERT [dbo].[Descuento] ([DescuentoID], [Descripcion], [Porcentaje]) VALUES (1, N'Sin descuento', CAST(0.00 AS Decimal(5, 2)))
INSERT [dbo].[Descuento] ([DescuentoID], [Descripcion], [Porcentaje]) VALUES (2, N'Descuento 5%', CAST(5.00 AS Decimal(5, 2)))
INSERT [dbo].[Descuento] ([DescuentoID], [Descripcion], [Porcentaje]) VALUES (3, N'Descuento 10%', CAST(10.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Descuento] OFF
GO
SET IDENTITY_INSERT [dbo].[Destino] ON 

INSERT [dbo].[Destino] ([DestinoID], [Ciudad], [Pais], [Descripcion], [Tipo]) VALUES (1, N'Bariloche', N'Argentina', N'Destino turístico de montaña y lagos', N'Montaña')
INSERT [dbo].[Destino] ([DestinoID], [Ciudad], [Pais], [Descripcion], [Tipo]) VALUES (2, N'Mendoza', N'Argentina', N'Famosa por sus viñedos y el Aconcagua', N'Aventura')
INSERT [dbo].[Destino] ([DestinoID], [Ciudad], [Pais], [Descripcion], [Tipo]) VALUES (3, N'Salta', N'Argentina', N'Región norteña con paisajes y cultura tradicional', N'Cultural')
SET IDENTITY_INSERT [dbo].[Destino] OFF
GO
SET IDENTITY_INSERT [dbo].[Empresa] ON 

INSERT [dbo].[Empresa] ([EmpresaID], [Nombre], [Telefono], [Email]) VALUES (1, N'Viajes Patagonia', N'+54 91188881234', N'contacto@patagonia.com')
INSERT [dbo].[Empresa] ([EmpresaID], [Nombre], [Telefono], [Email]) VALUES (2, N'Andes Travel', N'+54 91177771234', N'info@andestravel.com')
INSERT [dbo].[Empresa] ([EmpresaID], [Nombre], [Telefono], [Email]) VALUES (3, N'Explora Sudamérica', N'+54 91166661234', N'reservas@explorasud.com')
SET IDENTITY_INSERT [dbo].[Empresa] OFF
GO
SET IDENTITY_INSERT [dbo].[MetodoPago] ON 

INSERT [dbo].[MetodoPago] ([MetodoPagoID], [Descripcion]) VALUES (1, N'Tarjeta de crédito')
INSERT [dbo].[MetodoPago] ([MetodoPagoID], [Descripcion]) VALUES (2, N'Transferencia bancaria')
INSERT [dbo].[MetodoPago] ([MetodoPagoID], [Descripcion]) VALUES (3, N'Efectivo')
SET IDENTITY_INSERT [dbo].[MetodoPago] OFF
GO
SET IDENTITY_INSERT [dbo].[NivelServicio] ON 

INSERT [dbo].[NivelServicio] ([NivelServicioID], [Nombre]) VALUES (2, N'Común')
INSERT [dbo].[NivelServicio] ([NivelServicioID], [Nombre]) VALUES (1, N'Económico')
INSERT [dbo].[NivelServicio] ([NivelServicioID], [Nombre]) VALUES (3, N'Premium')
SET IDENTITY_INSERT [dbo].[NivelServicio] OFF
GO
SET IDENTITY_INSERT [dbo].[Paquete] ON 

INSERT [dbo].[Paquete] ([PaqueteID], [Descripcion], [Precio], [NivelServicioID], [CupoMaximo]) VALUES (1, N'Paquete Andes Premium', CAST(1250.00 AS Decimal(10, 2)), 3, 9)
INSERT [dbo].[Paquete] ([PaqueteID], [Descripcion], [Precio], [NivelServicioID], [CupoMaximo]) VALUES (2, N'Paquete Norte Económico', CAST(750.00 AS Decimal(10, 2)), 1, 20)
INSERT [dbo].[Paquete] ([PaqueteID], [Descripcion], [Precio], [NivelServicioID], [CupoMaximo]) VALUES (3, N'Ruta del Vino Común', CAST(950.00 AS Decimal(10, 2)), 2, 22)
SET IDENTITY_INSERT [dbo].[Paquete] OFF
GO
SET IDENTITY_INSERT [dbo].[PaqueteDestino] ON 

INSERT [dbo].[PaqueteDestino] ([PaqueteDestinoID], [PaqueteID], [DestinoID]) VALUES (1, 1, 1)
INSERT [dbo].[PaqueteDestino] ([PaqueteDestinoID], [PaqueteID], [DestinoID]) VALUES (2, 1, 2)
INSERT [dbo].[PaqueteDestino] ([PaqueteDestinoID], [PaqueteID], [DestinoID]) VALUES (3, 1, 10)
SET IDENTITY_INSERT [dbo].[PaqueteDestino] OFF
GO
SET IDENTITY_INSERT [dbo].[PaqueteSeguro] ON 

INSERT [dbo].[PaqueteSeguro] ([PaqueteSeguroID], [PaqueteID], [SeguroID]) VALUES (1, 1, 4)
INSERT [dbo].[PaqueteSeguro] ([PaqueteSeguroID], [PaqueteID], [SeguroID]) VALUES (2, 1, 5)
INSERT [dbo].[PaqueteSeguro] ([PaqueteSeguroID], [PaqueteID], [SeguroID]) VALUES (3, 2, 1)
SET IDENTITY_INSERT [dbo].[PaqueteSeguro] OFF
GO
SET IDENTITY_INSERT [dbo].[PaqueteTransporte] ON 

INSERT [dbo].[PaqueteTransporte] ([PaqueteTransporteID], [PaqueteID], [TransporteID]) VALUES (1, 1, 1)
INSERT [dbo].[PaqueteTransporte] ([PaqueteTransporteID], [PaqueteID], [TransporteID]) VALUES (2, 1, 3)
INSERT [dbo].[PaqueteTransporte] ([PaqueteTransporteID], [PaqueteID], [TransporteID]) VALUES (3, 2, 2)
SET IDENTITY_INSERT [dbo].[PaqueteTransporte] OFF
GO
SET IDENTITY_INSERT [dbo].[Reserva] ON 

INSERT [dbo].[Reserva] ([ReservaID], [IDCliente], [FechaSalida], [FechaRegreso], [MetodoPagoID], [DescuentoID], [PaqueteID]) VALUES (1, 1, CAST(N'2025-07-01' AS Date), CAST(N'2025-07-10' AS Date), 1, 1, 1)
INSERT [dbo].[Reserva] ([ReservaID], [IDCliente], [FechaSalida], [FechaRegreso], [MetodoPagoID], [DescuentoID], [PaqueteID]) VALUES (2, 2, CAST(N'2025-08-05' AS Date), CAST(N'2025-08-15' AS Date), 2, 2, 2)
INSERT [dbo].[Reserva] ([ReservaID], [IDCliente], [FechaSalida], [FechaRegreso], [MetodoPagoID], [DescuentoID], [PaqueteID]) VALUES (3, 3, CAST(N'2025-09-01' AS Date), CAST(N'2025-09-12' AS Date), 3, 3, 3)
SET IDENTITY_INSERT [dbo].[Reserva] OFF
GO
SET IDENTITY_INSERT [dbo].[Seguro] ON 

INSERT [dbo].[Seguro] ([SeguroID], [EmpresaID], [TipoSeguro], [Descripcion], [Costo], [VigenciaInicio], [VigenciaFin]) VALUES (1, 1, N'Básico', N'Cobertura médica estándar', CAST(30.00 AS Decimal(10, 2)), CAST(N'2024-01-01' AS Date), CAST(N'2025-01-01' AS Date))
INSERT [dbo].[Seguro] ([SeguroID], [EmpresaID], [TipoSeguro], [Descripcion], [Costo], [VigenciaInicio], [VigenciaFin]) VALUES (2, 2, N'Completo', N'Cobertura médica y cancelación', CAST(60.00 AS Decimal(10, 2)), CAST(N'2024-01-01' AS Date), CAST(N'2025-01-01' AS Date))
INSERT [dbo].[Seguro] ([SeguroID], [EmpresaID], [TipoSeguro], [Descripcion], [Costo], [VigenciaInicio], [VigenciaFin]) VALUES (3, 3, N'Familiar', N'Protección para todo el grupo familiar', CAST(90.00 AS Decimal(10, 2)), CAST(N'2024-01-01' AS Date), CAST(N'2025-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[Seguro] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoTransporte] ON 

INSERT [dbo].[TipoTransporte] ([TipoTransporteID], [Nombre]) VALUES (1, N'Avión')
INSERT [dbo].[TipoTransporte] ([TipoTransporteID], [Nombre]) VALUES (3, N'Barco')
INSERT [dbo].[TipoTransporte] ([TipoTransporteID], [Nombre]) VALUES (2, N'Bus')
SET IDENTITY_INSERT [dbo].[TipoTransporte] OFF
GO
SET IDENTITY_INSERT [dbo].[Transporte] ON 

INSERT [dbo].[Transporte] ([TransporteID], [TipoTransporteID], [Nombre], [Proveedor], [HoraSalida], [HoraLlegada], [Costo]) VALUES (1, 1, N'LATAM 401', N'LATAM Airlines', CAST(N'08:00:00' AS Time), CAST(N'10:30:00' AS Time), CAST(250.00 AS Decimal(10, 2)))
INSERT [dbo].[Transporte] ([TransporteID], [TipoTransporteID], [Nombre], [Proveedor], [HoraSalida], [HoraLlegada], [Costo]) VALUES (2, 2, N'Flecha Bus 1050', N'Flecha Bus', CAST(N'07:00:00' AS Time), CAST(N'15:00:00' AS Time), CAST(120.00 AS Decimal(10, 2)))
INSERT [dbo].[Transporte] ([TransporteID], [TipoTransporteID], [Nombre], [Proveedor], [HoraSalida], [HoraLlegada], [Costo]) VALUES (3, 1, N'Aerolíneas 203', N'Aerolíneas Argentinas', CAST(N'14:00:00' AS Time), CAST(N'16:00:00' AS Time), CAST(230.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Transporte] OFF
GO
/****** Object:  Index [I_alo_destino]    Script Date: 19/1/2026 11:56:26 ******/
CREATE NONCLUSTERED INDEX [I_alo_destino] ON [dbo].[Alojamiento]
(
	[DestinoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_alo_destino]    Script Date: 19/1/2026 11:56:26 ******/
CREATE NONCLUSTERED INDEX [idx_alo_destino] ON [dbo].[Alojamiento]
(
	[DestinoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Cliente__A9D105340BC8ABFC]    Script Date: 19/1/2026 11:56:26 ******/
ALTER TABLE [dbo].[Cliente] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Cliente__C035B8DD0C6BC024]    Script Date: 19/1/2026 11:56:26 ******/
ALTER TABLE [dbo].[Cliente] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [I_ciudad]    Script Date: 19/1/2026 11:56:26 ******/
CREATE NONCLUSTERED INDEX [I_ciudad] ON [dbo].[Destino]
(
	[Ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empresa__75E3EFCFAAFB73D0]    Script Date: 19/1/2026 11:56:26 ******/
ALTER TABLE [dbo].[Empresa] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NivelSer__75E3EFCFF5941ACA]    Script Date: 19/1/2026 11:56:26 ******/
ALTER TABLE [dbo].[NivelServicio] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [I_fecha_salida]    Script Date: 19/1/2026 11:56:26 ******/
CREATE NONCLUSTERED INDEX [I_fecha_salida] ON [dbo].[Reserva]
(
	[FechaSalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TipoTran__75E3EFCF1E638951]    Script Date: 19/1/2026 11:56:26 ******/
ALTER TABLE [dbo].[TipoTransporte] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alojamiento]  WITH CHECK ADD FOREIGN KEY([DestinoID])
REFERENCES [dbo].[Destino] ([DestinoID])
GO
ALTER TABLE [dbo].[Paquete]  WITH CHECK ADD FOREIGN KEY([NivelServicioID])
REFERENCES [dbo].[NivelServicio] ([NivelServicioID])
GO
ALTER TABLE [dbo].[PaqueteDestino]  WITH CHECK ADD FOREIGN KEY([DestinoID])
REFERENCES [dbo].[Destino] ([DestinoID])
GO
ALTER TABLE [dbo].[PaqueteDestino]  WITH CHECK ADD FOREIGN KEY([PaqueteID])
REFERENCES [dbo].[Paquete] ([PaqueteID])
GO
ALTER TABLE [dbo].[PaqueteSeguro]  WITH CHECK ADD FOREIGN KEY([PaqueteID])
REFERENCES [dbo].[Paquete] ([PaqueteID])
GO
ALTER TABLE [dbo].[PaqueteSeguro]  WITH CHECK ADD FOREIGN KEY([SeguroID])
REFERENCES [dbo].[Seguro] ([SeguroID])
GO
ALTER TABLE [dbo].[PaqueteTransporte]  WITH CHECK ADD FOREIGN KEY([PaqueteID])
REFERENCES [dbo].[Paquete] ([PaqueteID])
GO
ALTER TABLE [dbo].[PaqueteTransporte]  WITH CHECK ADD FOREIGN KEY([TransporteID])
REFERENCES [dbo].[Transporte] ([TransporteID])
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD FOREIGN KEY([DescuentoID])
REFERENCES [dbo].[Descuento] ([DescuentoID])
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Cliente] ([IDCliente])
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD FOREIGN KEY([MetodoPagoID])
REFERENCES [dbo].[MetodoPago] ([MetodoPagoID])
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD FOREIGN KEY([PaqueteID])
REFERENCES [dbo].[Paquete] ([PaqueteID])
GO
ALTER TABLE [dbo].[Seguro]  WITH CHECK ADD FOREIGN KEY([EmpresaID])
REFERENCES [dbo].[Empresa] ([EmpresaID])
GO
ALTER TABLE [dbo].[Transporte]  WITH CHECK ADD FOREIGN KEY([TipoTransporteID])
REFERENCES [dbo].[TipoTransporte] ([TipoTransporteID])
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD CHECK  (([FechaNacimiento]<=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[Descuento]  WITH CHECK ADD CHECK  (([Porcentaje]>=(0) AND [Porcentaje]<=(100)))
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD CHECK  (([Email] like '%@%'))
GO
ALTER TABLE [dbo].[Paquete]  WITH CHECK ADD CHECK  (([CupoMaximo]>(0)))
GO
ALTER TABLE [dbo].[Paquete]  WITH CHECK ADD CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [CHK_Reserva_Fechas] CHECK  (([FechaRegreso]>=[FechaSalida]))
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [CHK_Reserva_Fechas]
GO
ALTER TABLE [dbo].[Seguro]  WITH CHECK ADD  CONSTRAINT [CHK_Seguro_Vigencia] CHECK  (([VigenciaFin]>[VigenciaInicio]))
GO
ALTER TABLE [dbo].[Seguro] CHECK CONSTRAINT [CHK_Seguro_Vigencia]
GO
ALTER TABLE [dbo].[Seguro]  WITH CHECK ADD CHECK  (([Costo]>=(0)))
GO
ALTER TABLE [dbo].[Transporte]  WITH CHECK ADD  CONSTRAINT [CHK_Transporte_Horas] CHECK  (([HoraLlegada]<>[HoraSalida]))
GO
ALTER TABLE [dbo].[Transporte] CHECK CONSTRAINT [CHK_Transporte_Horas]
GO
ALTER TABLE [dbo].[Transporte]  WITH CHECK ADD CHECK  (([Costo]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[P_EliminarAlojamiento]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Eliminar
CREATE   PROCEDURE [dbo].[P_EliminarAlojamiento]
  @AlojamientoID INT
AS
BEGIN
  DELETE FROM Alojamiento WHERE AlojamientoID = @AlojamientoID;
END;
GO
/****** Object:  StoredProcedure [dbo].[P_EliminarCliente]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Eliminar
CREATE   PROCEDURE [dbo].[P_EliminarCliente]
  @IDCliente INT
AS
BEGIN
  DELETE FROM Cliente WHERE IDCliente = @IDCliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[P_InsertarAlojamiento]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- CRUD de Alojamiento
--Inserción
CREATE   PROCEDURE [dbo].[P_InsertarAlojamiento]
  @Nombre VARCHAR(100), 
  @Tipo VARCHAR(50), 
  @Direccion VARCHAR(255), 
  @Telefono VARCHAR(20), 
  @DestinoID INT
AS
BEGIN
  BEGIN TRY
    INSERT INTO Alojamiento (Nombre, Tipo, Direccion, Telefono, DestinoID)
    VALUES (@Nombre, @Tipo, @Direccion, @Telefono, @DestinoID);
  END TRY
  BEGIN CATCH
    PRINT ERROR_MESSAGE();
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[P_InsertarCliente]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[P_InsertarCliente]
  @DNI VARCHAR(20), 
  @NombreCompleto VARCHAR(100),
  @Email VARCHAR(100),
  @Telefono VARCHAR(20), 
  @Nacionalidad VARCHAR(50), 
  @FechaNacimiento DATE
AS
BEGIN
  BEGIN TRY
    IF @FechaNacimiento > GETDATE()
      RAISERROR('La fecha de nacimiento es erronea.', 16, 1);
    INSERT INTO Cliente (DNI, NombreCompleto, Email, Telefono, Nacionalidad, FechaNacimiento)
    VALUES (@DNI, @NombreCompleto, @Email, @Telefono, @Nacionalidad, @FechaNacimiento);
  END TRY
  BEGIN CATCH
    PRINT ERROR_MESSAGE();
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[P_InsertarDescuento]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CRUD de la tabla Descuento
--Insercion
CREATE   PROCEDURE [dbo].[P_InsertarDescuento]
  @Descripcion VARCHAR(255),
  @Porcentaje DECIMAL(5, 2)
AS
BEGIN
  BEGIN TRY
    IF @Porcentaje < 0 OR @Porcentaje > 100
      RAISERROR('El porcentaje debe estar entre 0 y 100.', 16, 1);

    INSERT INTO Descuento (Descripcion, Porcentaje)
    VALUES (@Descripcion, @Porcentaje);
  END TRY
  BEGIN CATCH
    PRINT ERROR_MESSAGE();
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[P_InsertarDestino]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CRUD de la tabla Destino
--Insertar
CREATE   PROCEDURE [dbo].[P_InsertarDestino]
  @Ciudad VARCHAR(100), 
  @Pais VARCHAR(100), 
  @Descripcion VARCHAR(255), 
  @Tipo VARCHAR(50)
AS
BEGIN
  INSERT INTO Destino (Ciudad, Pais, Descripcion, Tipo)
  VALUES (@Ciudad, @Pais, @Descripcion, @Tipo);
END;
GO
/****** Object:  StoredProcedure [dbo].[P_InsertarEmpresa]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- CRUD de la Empresa
--Insertar
CREATE   PROCEDURE [dbo].[P_InsertarEmpresa]
  @Nombre VARCHAR(100),
  @Telefono VARCHAR(20), 
  @Email VARCHAR(100)
AS
BEGIN
  BEGIN TRY
     IF @Email NOT LIKE '%_@__%.__%'
      RAISERROR('Email inválido.', 16, 1);
    INSERT INTO Empresa (Nombre, Telefono, Email)
    VALUES (@Nombre, @Telefono, @Email);
  END TRY
  BEGIN CATCH
    PRINT ERROR_MESSAGE();
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[P_InsertarMetodoPago]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CRUD de la tabla MetodoPago
--Insercion
CREATE   PROCEDURE [dbo].[P_InsertarMetodoPago]
  @Descripcion VARCHAR(50)
AS
BEGIN
  INSERT INTO MetodoPago (Descripcion)
  VALUES (@Descripcion);
END;
GO
/****** Object:  StoredProcedure [dbo].[P_InsertarNivelServicio]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CRUD de la tabla NivelServicio
--Insertar
CREATE   PROCEDURE [dbo].[P_InsertarNivelServicio]
  @Nombre VARCHAR(20)
AS
BEGIN
  INSERT INTO NivelServicio (Nombre) VALUES (@Nombre);
END;
GO
/****** Object:  StoredProcedure [dbo].[P_InsertarPaquete]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CRUD de la tabla Paquete
--Insertar
CREATE   PROCEDURE [dbo].[P_InsertarPaquete]
  @Descripcion VARCHAR(255), 
  @Precio DECIMAL(10,2), 
  @NivelServicioID INT, 
  @CupoMaximo INT
AS
BEGIN
  BEGIN TRY
    IF @Precio < 0 OR @CupoMaximo <= 0
      RAISERROR('Precio o Cupo inválido.', 16, 1);
    INSERT INTO Paquete (Descripcion, Precio, NivelServicioID, CupoMaximo)
    VALUES (@Descripcion, @Precio, @NivelServicioID, @CupoMaximo);
  END TRY
  BEGIN CATCH
    PRINT ERROR_MESSAGE();
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[P_InsertarPaqueteDestino]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Ahora un CRUD para las tablas intermedias
-- Insercion en PaqueteDestino
CREATE   PROCEDURE [dbo].[P_InsertarPaqueteDestino]
  @PaqueteID INT,
  @DestinoID INT
AS
BEGIN
  BEGIN TRY
    INSERT INTO PaqueteDestino (PaqueteID, DestinoID)
    VALUES (@PaqueteID, @DestinoID);
  END TRY
  BEGIN CATCH
    PRINT ERROR_MESSAGE();
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[P_InsertarPaqueteSeguro]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Insercion en PaqueteTrasnporte
CREATE   PROCEDURE [dbo].[P_InsertarPaqueteSeguro]
  @PaqueteID INT,
  @SeguroID INT
AS
BEGIN
  BEGIN TRY
    INSERT INTO PaqueteSeguro (PaqueteID, SeguroID)
    VALUES (@PaqueteID, @SeguroID);
  END TRY
  BEGIN CATCH
    PRINT ERROR_MESSAGE();
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[P_InsertarPaqueteTransporte]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Insercion en PaqueteSeguro
CREATE   PROCEDURE [dbo].[P_InsertarPaqueteTransporte]
  @PaqueteID INT,
  @TransporteID INT
AS
BEGIN
  BEGIN TRY
    INSERT INTO PaqueteTransporte (PaqueteID, TransporteID)
    VALUES (@PaqueteID, @TransporteID);
  END TRY
  BEGIN CATCH
    PRINT ERROR_MESSAGE();
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[P_InsertarReserva]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--CRUD de la tabla Reserva
--Insertar
CREATE   PROCEDURE [dbo].[P_InsertarReserva]
  @IDCliente INT, 
  @FechaSalida DATE, 
  @FechaRegreso DATE,
  @MetodoPagoID INT, 
  @DescuentoID INT, 
  @PaqueteID INT
AS
BEGIN
  BEGIN TRY
    IF @FechaRegreso < @FechaSalida
      RAISERROR('La fecha de regreso debe ser posterior a la de salida.', 16, 1);
    INSERT INTO Reserva (IDCliente, FechaSalida, FechaRegreso, MetodoPagoID, DescuentoID, PaqueteID)
    VALUES (@IDCliente, @FechaSalida, @FechaRegreso, @MetodoPagoID, @DescuentoID, @PaqueteID);
  END TRY
  BEGIN CATCH
    PRINT ERROR_MESSAGE();
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[P_InsertarSeguro]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CRUD de la tabla Seguro
--Insercion
CREATE   PROCEDURE [dbo].[P_InsertarSeguro]
  @EmpresaID INT, 
  @TipoSeguro VARCHAR(50), 
  @Descripcion VARCHAR(255),
  @Costo DECIMAL(10,2), 
  @VigenciaInicio DATE, 
  @VigenciaFin DATE
AS
BEGIN
  BEGIN TRY
    IF @VigenciaFin <= @VigenciaInicio
      RAISERROR('La vigencia final debe ser posterior a la inicial.', 16, 1);
    INSERT INTO Seguro (EmpresaID, TipoSeguro, Descripcion, Costo, VigenciaInicio, VigenciaFin)
    VALUES (@EmpresaID, @TipoSeguro, @Descripcion, @Costo, @VigenciaInicio, @VigenciaFin);
  END TRY
  BEGIN CATCH
    PRINT ERROR_MESSAGE();
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[P_InsertarTipoTransporte]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CRUD de la tabla TipoTransporte
--Insertar
CREATE   PROCEDURE [dbo].[P_InsertarTipoTransporte]
  @Nombre VARCHAR(50)
AS
BEGIN
  INSERT INTO TipoTransporte (Nombre) VALUES (@Nombre);
END;
GO
/****** Object:  StoredProcedure [dbo].[P_InsertarTransporte]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CRUD de la tabla Transporte
--Insertar
CREATE   PROCEDURE [dbo].[P_InsertarTransporte]
  @TipoTransporteID INT, 
  @Nombre VARCHAR(50), 
  @Proveedor VARCHAR(100),
  @HoraSalida TIME, 
  @HoraLlegada TIME, 
  @Costo DECIMAL(10,2)
AS
BEGIN
  BEGIN TRY
    IF @HoraLlegada <= @HoraSalida
      RAISERROR('Hora de llegada debe ser mayor a hora de salida.', 16, 1);
    INSERT INTO Transporte (TipoTransporteID, Nombre, Proveedor, HoraSalida, HoraLlegada, Costo)
    VALUES (@TipoTransporteID, @Nombre, @Proveedor, @HoraSalida, @HoraLlegada, @Costo);
  END TRY
  BEGIN CATCH
    PRINT ERROR_MESSAGE();
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[P_LeerAlojamientos]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lectura
CREATE   PROCEDURE [dbo].[P_LeerAlojamientos]
AS
BEGIN
  SELECT AlojamientoID, Nombre, Tipo, DIreccion, Telefono, DestinoID FROM Alojamiento;
END;
GO
/****** Object:  StoredProcedure [dbo].[P_LeerClientes]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Lectura
CREATE   PROCEDURE [dbo].[P_LeerClientes]
AS
BEGIN
  SELECT IDCliente, DNI, NombreCompleto, Email, Telefono, Nacionalidad, FechaNacimiento
  FROM Cliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[P_LeerDescuentos]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Lectura
CREATE   PROCEDURE [dbo].[P_LeerDescuentos]
AS
BEGIN
  SELECT DescuentoID, Descripcion, Porcentaje FROM Descuento;
END;
GO
/****** Object:  StoredProcedure [dbo].[P_LeerDestinos]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lectura
CREATE   PROCEDURE [dbo].[P_LeerDestinos]
AS
BEGIN
  SELECT DestinoID, Ciudad, Pais, Descripcion, Tipo FROM Destino;
END;
GO
/****** Object:  StoredProcedure [dbo].[P_LeerEmpresas]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lectura
CREATE   PROCEDURE [dbo].[P_LeerEmpresas]
AS
BEGIN
  SELECT EmpresaID, Nombre, Telefono, Email FROM Empresa;
END;
GO
/****** Object:  StoredProcedure [dbo].[P_LeerMetodosPago]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lectura
CREATE   PROCEDURE [dbo].[P_LeerMetodosPago]
AS
BEGIN
  SELECT MetodoPagoID, Descripcion FROM MetodoPago;
END;
GO
/****** Object:  StoredProcedure [dbo].[P_LeerNivelServicio]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lectura
CREATE   PROCEDURE [dbo].[P_LeerNivelServicio]
AS
BEGIN
  SELECT NivelServicioID, Nombre FROM NivelServicio;
END;
GO
/****** Object:  StoredProcedure [dbo].[P_LeerPaquetes]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lectura
CREATE   PROCEDURE [dbo].[P_LeerPaquetes]
AS
BEGIN
  SELECT PaqueteID, Descripcion, Precio, NivelServicioID, CupoMaximo FROM Paquete;
END;
GO
/****** Object:  StoredProcedure [dbo].[P_LeerReservas]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lectura
CREATE   PROCEDURE [dbo].[P_LeerReservas]
AS
BEGIN
  SELECT ReservaID, IDcliente, FechaSalida, FechaRegreso, MetodoPagoID, DescuentoID, PaqueteID FROM Reserva;
END;
GO
/****** Object:  StoredProcedure [dbo].[P_LeerSeguros]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lectura
CREATE   PROCEDURE [dbo].[P_LeerSeguros]
AS
BEGIN
  SELECT SeguroID, EmpresaID, TipoSeguro, Descripcion, Costo, VigenciaInicio, VigenciaFin FROM Seguro;
END;
GO
/****** Object:  StoredProcedure [dbo].[P_LeerTiposTransporte]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lectura
CREATE   PROCEDURE [dbo].[P_LeerTiposTransporte]
AS
BEGIN
  SELECT TipoTransporteID, Nombre FROM TipoTransporte;
END;
GO
/****** Object:  StoredProcedure [dbo].[P_LeerTransportes]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[P_LeerTransportes]
AS
BEGIN
  SELECT TransporteID, TipoTransporteID, Nombre, Proveedor, HoraSalida, HoraLlegada, Costo FROM Transporte;
END;
GO
/****** Object:  StoredProcedure [dbo].[P_ModificarAlojamiento]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Modificar
CREATE   PROCEDURE [dbo].[P_ModificarAlojamiento]
  @AlojamientoID INT, 
  @Nombre VARCHAR(100), 
  @Direccion VARCHAR(255)
AS
BEGIN
  BEGIN TRY
    UPDATE Alojamiento
    SET Nombre = @Nombre, Direccion = @Direccion
    WHERE AlojamientoID = @AlojamientoID;
  END TRY
  BEGIN CATCH
    PRINT ERROR_MESSAGE();
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[P_ModificarCliente]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Modificar
CREATE   PROCEDURE [dbo].[P_ModificarCliente]
  @IDCliente INT, 
  @Email VARCHAR(100), 
  @Telefono VARCHAR(20)
AS
BEGIN
  BEGIN TRY
    UPDATE Cliente
    SET Email = @Email, Telefono = @Telefono
    WHERE IDCliente = @IDCliente;
  END TRY
  BEGIN CATCH
    PRINT ERROR_MESSAGE();
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[P_ReservarPaquete]    Script Date: 19/1/2026 11:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[P_ReservarPaquete]
  @IDCliente INT,
  @PaqueteID INT,
  @FechaSalida DATE,
  @FechaRegreso DATE,
  @MetodoPagoID INT,
  @DescuentoID INT = 1 --Declara
AS
BEGIN
  DECLARE @CupoDisponible INT;

  SELECT @CupoDisponible = CupoMaximo
  FROM Paquete
  WHERE PaqueteID = @PaqueteID;

  IF @CupoDisponible > 0
  BEGIN
    INSERT INTO Reserva (IDCliente, FechaSalida, FechaRegreso, MetodoPagoID, DescuentoID, PaqueteID)
    VALUES (@IDCliente, @FechaSalida, @FechaRegreso, @MetodoPagoID, @DescuentoID, @PaqueteID);

    UPDATE Paquete
    SET CupoMaximo = CupoMaximo - 1
    WHERE PaqueteID = @PaqueteID;

    PRINT 'Reserva registrada con éxito';
  END
  ELSE
  BEGIN
    RAISERROR('No hay cupos disponibles para este paquete.', 16, 1);
  END
END;
GO
USE [master]
GO
